<label class="list-group-item d-flex gap-3">
    <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
    <span class="pt-1 form-checked-content">
      <strong><%= task %></strong>
      <small class="d-block text-body-secondary">
        <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#alarm"></use></svg>
        <div class="note"><%= note %></div>
      </small>
    </span>
  </label>