<%- include("partials/header.ejs") %>
<%- include("partials/Sidebar.ejs") %>
  
      <!-- Content -->
      <div class="content mt-4 bg-body p-5">
        job
      </div>

      <%- include("partials/footer.ejs") %>
      