<%- include("partials/header.ejs") %>
<%- include("partials/Sidebar.ejs") %>
  
      <!-- Content -->
      <div class="content mt-5 bg-body p-5">
        study
      </div>

      <%- include("partials/footer.ejs") %>
      